site_name: "BEFORE DAY ZERO"
site_description: "A founder's guide to startup preparation"
site_author: "Sagar Udasi"

# site_url: <fill it later while hosting>

theme:
  name: material

  palette: 
  # Palette toggle for light mode
  - scheme: default
    toggle:
      icon: material/brightness-3 
      name: Switch to dark mode

  # Palette toggle for dark mode
  - scheme: slate
    toggle:
      icon: material/brightness-7
      name: Switch to light mode

  features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.sections
    - navigation.path
    - navigation.indexes
    - navigation.footer
    - toc.follow
    - content.footnote.tooltips

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - footnotes
  - tables
  - pymdownx.arithmatex:
      generic: true
  - attr_list

plugins:
  - search

extra_css:
  - css/extra.css
  - css/pdf.css

extra_javascript:
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.min.js



nav:
  - The Great Game of Life: index.md
  - The Best Bet To Become Rich: best_bet_to_get_rich.md
  - Section 01. The Map:
    - "01. The Economic Engine":
      - Demographics, Income Distribution & GDP Structure: section01/chapter01/01_demo_gdp_income.md
      - Macro Indicators: section01/chapter01/02_macro_indicators.md
    # - "02. The People Matrix":
    # - "03. The Sectoral Map":
    # - "04. Trends, Timing & Tailwinds":